$reviewWidth: 450px;
$sliderWidth: 900px;

.container {
    max-width: 1170px;
    overflow: hidden;
    margin: 0 auto;
    padding: 49px 0;
    min-height: calc(100vh - 98px);
}

.arrow-back-wrapper {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    gap: 56px;

    .breadcrumbs-wrapper {
        .breadcrumbs-list {
            list-style: none;
            display: flex;
            gap: 3px;
            transition: all 0.3s ease;

            a {
                color: #7d7d7d;
                text-decoration: none;

                &:hover {
                    color: #514a7e;
                }
            }
        }
    }
}

.product-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 117px;
    margin-bottom: 100px;

    .product-title-wrapper {
        grid-column: 1/3;

        font-weight: 300;
        font-size: 40px;
        line-height: 34.92px;
        color: #121212;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .product-images-wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .product-main-image-wrapper {
            width: 100%;
            height: 576px;
            position: relative;

            img {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
        }

        .product-all-images {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 17px;

            .product-all-item {
                width: 100%;
                height: 140px;
                position: relative;
                cursor: pointer;

                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    .product-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        color: #121212;
        font-weight: 400;

        .addToCart-button {
            padding: 14px 50px;
            background-color: #514a7e;
            font-weight: 400;
            line-height: 16.41px;
            color: #fffdf5;
            cursor: pointer;
        }

        .product-price {
            font-weight: inherit;
            font-size: 40px;
            line-height: 34.92px;
        }

        .product-colors {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .colors-title {
                font-weight: inherit;
                font-size: 20px;
                line-height: 23.44px;
            }

            .colors-inputs-wrapper {
                display: flex;
                gap: 6px;

                .color-checkbox-wrapper {
                    &.hidden {
                        display: none;
                    }

                    .color_white::after {
                        background-color: white;
                    }

                    .color_black::after {
                        background-color: #000000;
                    }

                    .color_green::after {
                        background-color: #1fa68e;
                    }

                    .color_pink::after {
                        background-color: #dc39cc;
                    }

                    .color_yellow::after {
                        background-color: #fff385;
                    }

                    label {
                        &::after {
                            content: "";
                            display: block;
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            border: 1px solid black;
                            cursor: pointer;
                            box-sizing: border-box;
                        }
                    }

                    input[type="checkbox"] {
                        display: none;

                        &:checked {
                            + label::after {
                                border: 4px solid #514a7e;
                            }
                        }
                    }
                }
            }
        }

        .product-sizes {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .sizes-title {
                font-weight: inherit;
                font-size: 20px;
                line-height: 23.44px;
            }

            .sizes-inputs-wrapper {
                display: flex;
                gap: 6px;

                .size-checkbox-wrapper {
                    &.hidden {
                        display: none;
                    }

                    .s-size::after {
                        background-image: url("/images/service/s_size_checkbox.svg");
                    }

                    .m-size::after {
                        background-image: url("/images/service/m_size_checkbox.svg");
                    }

                    .l-size::after {
                        background-image: url("/images/service/l_size_checkbox.svg");
                    }

                    .xl-size::after {
                        background-image: url("/images/service/xl_size_checkbox.svg");
                    }

                    label {
                        &::after {
                            content: "";
                            display: block;
                            height: 30px;
                            width: 30px;
                            border: 1px solid #514a7e;
                            cursor: pointer;
                            box-sizing: border-box;

                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }

                    input[type="checkbox"] {
                        display: none;

                        &:checked {
                            + label::after {
                                border: 4px solid #514a7e;
                            }
                        }
                    }
                }
            }
        }

        .product-depiction {
            .product-depiction-title {
                font-weight: 400;
                font-size: 20px;
                line-height: 23.44px;
                color: #121212;
                margin-bottom: 14px;
            }

            .product-depiction-content {
                font-size: 16px;
                line-height: 18.75px;
                color: #7d7d7d;
                text-align: justify;
                text-indent: 25px;
            }
        }
    }
}

.reviews-wrapper {
    margin-bottom: 30px;

    .reviews-title {
        font-weight: 300;
        font-size: 40px;
        line-height: 34.92px;
        color: #121212;
        margin-bottom: 60px;
    }

    .service-reviews-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .reviews-container {
            width: $sliderWidth;
            overflow: hidden;

            .reviews-line {
                display: flex;
                position: relative;
                transition: all 0.4s ease-in;
                right: 0;
                gap: 15px;

                .review-wrapper {
                    border: 1px solid #514a7e;
                    padding: 35px 25px;
                    width: $reviewWidth;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 20.4px;

                    .review-rating-wrapper {
                        margin-bottom: 15px;
                    }

                    .review-detail {
                        color: #7d7d7d;
                        text-align: justify;
                        margin-bottom: 11px;
                    }

                    .review-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 400;
                        color: #121212;

                        .review-date {
                            color: #514a7e;
                        }
                    }
                }
            }
        }

        .reviews-arrow-right {
            height: 92px;
            width: 92px;
            background-image: url("/images/service/slider_arrow_right.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
}

.add-review-wrapper {
    .add-review-button {
        padding: 14px 18px;
        background-color: #514a7e;
        font-weight: 400;
        line-height: 16.41px;
        color: #fffdf5;
        cursor: pointer;
    }
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;

    .modal-window-wrapper {
        animation: 0.8s show ease;
        position: absolute;
        z-index: 9999;
        top: calc(50vh - 250px);
        left: calc(50vw - 400px);
        height: 500px;
        width: 800px;
        background-color: whitesmoke;
        box-shadow: 1x 1px 2px black;
        padding: 35px;

        .modal-content-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 35px;

            input[id="rating"] {
                display: none;
            }

            .modal-rating-wrapper {
                display: flex;

                .star-icon-wrapper {
                    img {
                        height: 40px;
                        width: 40px;
                        cursor: pointer;
                    }
                }
            }

            .modal-detail-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;

                textarea {
                    text-indent: 35px;
                    box-sizing: border-box;
                    padding: 15px;
                    width: 80%;
                    resize: none;
                }
            }

            .add-review-button {
                padding: 14px 18px;
                background-color: #514a7e;
                font-weight: 400;
                line-height: 16.41px;
                color: #fffdf5;
                cursor: pointer;
                transition: all 0.3s ease-in;

                &.disabled {
                    opacity: 0.4;
                }
            }
        }
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
